<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush">
        <a
        class="nav-link" 
        routerLink="/home/agent"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="list-group-item list-group-item-action py-3"
          aria-current="true"
        >
          <i class="fas fa-chart-area fa-fw mr-3"></i>Home
          <span class="sr-only">(current)</span>
        </a>
        <!-- Todo Add Route -->
        <a
         class="nav-item active"  *ngIf="isLoggedIn"
        routerLink="/admin/addClient"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        class="list-group-item list-group-item-action py-3"
        aria-current="true"
        >
          <i class="fas fa-calendar fa-fw mr-3"></i>Add Client
          <span class="sr-only"></span>
        </a>
        <!-- Todo Add Route -->
        <a
        class="nav-link"
        class="nav-item active" 
         *ngIf="isLoggedIn"
          routerLink="/clientList"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="list-group-item list-group-item-action py-3"
        >
        <i class="fa-solid fa-people-group mr-3"></i>Client List 
        </a>
        <a
        class="nav-link"
        class="nav-item active" 
         *ngIf="isLoggedIn"
          routerLink="/terms"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="list-group-item list-group-item-action py-3"
        >
        <i class="fa-solid fa-shield-halved mr-3"></i>Security & Conditions 
        </a>

        <a
        class="nav-link"
        class="nav-item active" 
         *ngIf="isLoggedIn"
          routerLink="/listcourrier"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="list-group-item list-group-item-action py-3"
        >
        <i class="fa-solid fa-shield-halved mr-3"></i>Courrier 
        </a>

      </div>
    </div>
  </nav>
  